.red{
    background-color: red;
}
.height5{
    height: 5px;
}
.w80{
    width: 80%;
}
.w72{
    width: 72%;
}
.w89{
    width: 89%;
}
.w55{
    width: 55%;
}
.w66{
    width: 66%;
}
.avatar{
    width: 100%;
    max-height: 300px;
}